n8n/workflows/.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over S3 \"upload\" files1": {
      "main": [
        [],
        [
          {
            "node": "S31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get \"upload\" S3 bucket files2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S31": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over S3 \"upload\" files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        []
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get \"upload\" S3 bucket files2": {
      "main": [
        [
          {
            "node": "Loop Over S3 \"upload\" files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MySQL: Create/Update Photo Table": {
      "main": [
        [
          {
            "node": "S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals MySQL Creation": {
      "main": [
        [
          {
            "node": "MySQL: Create/Update Photo Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL: Retrieve Img Key from UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S32": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL: Retrieve Img Key from UUID": {
      "main": [
        [
          {
            "node": "S32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-08T18:40:48.946Z",
  "id": "InVmvNHLCKInE2lX",
  "meta": null,
  "name": "🧠 Atomic Anticuario: Initial Processing",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        -1340
      ],
      "id": "bce1febf-ded8-4b92-9580-32a8f2c34e5d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "## RAG \n- bring files from S3\n- process them",
        "height": 740,
        "width": 1400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -980,
        -720
      ],
      "id": "3af09b66-9c15-454d-bb26-e27624902669",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -480,
        -580
      ],
      "id": "939cdf87-987a-439d-8f0c-94604ec9ba66",
      "name": "Loop Over S3 \"upload\" files1"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Edit Fields').item.json.minio_bucket }}",
        "fileKey": "={{ $('Get \"upload\" S3 bucket files2').item.json.Key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -220,
        -560
      ],
      "id": "590ba180-d790-42e4-8493-b4a7a3656498",
      "name": "S31",
      "credentials": {
        "s3": {
          "id": "KkkaXKuBh0oIHqY7",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "205085ef-42e1-4766-bf23-785eb9dffd2f",
              "name": "minio_bucket",
              "value": "upload",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -920,
        -580
      ],
      "id": "7ede98ac-bf1a-4c49-8f7b-7e4b84aa77bb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "atomic-anticuario",
          "mode": "list",
          "cachedResultName": "atomic-anticuario"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        0,
        -560
      ],
      "id": "ffd7416e-5b0d-483a-ac85-ecee1ca56065",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "56HSSdzgWRSfHmIJ",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Prepare qdrant\n- create collection in Qdrant \"atomic-anticuario\"",
        "height": 320,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -980,
        -1100
      ],
      "id": "f7252c82-6def-4af7-9b97-f5aa5850ffec",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/atomic-anticuario",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "=mi-api-key-secreta"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 1536,\n    \"distance\": \"Cosine\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -920,
        -980
      ],
      "id": "8d49276b-9552-4fb2-8b89-084798ed8900",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        140,
        -320
      ],
      "id": "8ef2ef66-2be1-46a0-9c9e-c5f0af7ab8a0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -300,
        -140
      ],
      "id": "2e97d773-8244-4849-8df0-35d7409d48d6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2CSwwezaeeIGrW2R",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        100,
        -140
      ],
      "id": "65eb39f5-7abd-4c6c-a0f2-4c5be8785613",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "={{ $json.minio_bucket }}",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -700,
        -580
      ],
      "id": "3e88dd18-741a-4a56-a6ee-6aa22ae26269",
      "name": "Get \"upload\" S3 bucket files2",
      "credentials": {
        "s3": {
          "id": "KkkaXKuBh0oIHqY7",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -60,
        -300
      ],
      "id": "6ee6d17f-d257-4707-be85-226417c3f3d1",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "2ysyPKA3g29bmo2g",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Image URLS\n\n## MySQL\n- Create picture schema\n- Iterar S3 bucket \n   - Download\n   - Generar MD5\n   - Ingresar entrada\n\n\n\n\n\n\n### Webhook\n- Use md5 as param\n- SQL Query\n- Webhook response\n",
        "height": 500,
        "width": 1960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -980,
        -2020
      ],
      "id": "bad68f88-4cab-41b8-88d5-9f0574cc0559",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS photo_references (\n  id CHAR(36) PRIMARY KEY,\n  object_key VARCHAR(255) NOT NULL,\n  bucket_name VARCHAR(63) NOT NULL,\n  uploaded_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -440,
        -1960
      ],
      "id": "0b7be820-75fc-4948-abc3-c3c323d00dbf",
      "name": "MySQL: Create/Update Photo Table",
      "credentials": {
        "mySql": {
          "id": "XOq9HrWGDTXCAcdE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "={{ $('Globals MySQL Creation').item.json.bucket_name }}",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -220,
        -1960
      ],
      "id": "9a81f092-1e0c-40f3-a240-ccc410dc51b2",
      "name": "S3",
      "credentials": {
        "s3": {
          "id": "KkkaXKuBh0oIHqY7",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -1960
      ],
      "id": "cb5836e1-28e7-4931-ba2a-3917a95e9e6c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8df1e8f0-0a9e-416b-83e8-a5c74c7920e1",
              "name": "bucket_name",
              "value": "upload",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -660,
        -1960
      ],
      "id": "12b4af11-d8bf-4b9a-a75e-087b78e95f3f",
      "name": "Globals MySQL Creation"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO photo_references (id, object_key, bucket_name)\nVALUES (UUID(), '{{ $json.Key }}', '{{ $('Globals MySQL Creation').item.json.bucket_name }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        240,
        -1940
      ],
      "id": "d464e268-8dca-4d7c-9430-54a3e9d35f43",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "XOq9HrWGDTXCAcdE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "photo_references",
          "mode": "list",
          "cachedResultName": "photo_references"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -460,
        -1340
      ],
      "id": "6118e958-552a-46b7-bbfa-0b43db4a4566",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "XOq9HrWGDTXCAcdE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "path": "img/:bucket/:uuid",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        -1700
      ],
      "id": "f90b665d-f185-410c-8562-21963c4ed0cf",
      "name": "Webhook",
      "webhookId": "6d233acc-53a5-413e-9940-2680da7e321e"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.params.bucket }}",
        "fileKey": "={{ $json.object_key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -240,
        -1700
      ],
      "id": "834cdb93-3cfd-4d56-80a6-fd2aca9ceb7e",
      "name": "S32",
      "credentials": {
        "s3": {
          "id": "KkkaXKuBh0oIHqY7",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -20,
        -1700
      ],
      "id": "ca88351c-482a-4f88-aece-aae6def80a5d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "photo_references",
          "mode": "list",
          "cachedResultName": "photo_references"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.params.uuid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -460,
        -1700
      ],
      "id": "0b56baef-b750-4801-bc04-245bfd997a00",
      "name": "MySQL: Retrieve Img Key from UUID",
      "credentials": {
        "mySql": {
          "id": "XOq9HrWGDTXCAcdE",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-08T18:40:48.946Z",
  "versionId": "3e834d37-8187-44b4-89d6-c773cc8e4189"
}