n8n/workflows/1oUHI1qN0dUqo6MZ.json
{"createdAt":"2025-05-12T20:23:01.586Z","updatedAt":"2025-05-13T12:00:52.236Z","id":"1oUHI1qN0dUqo6MZ","name":"📤 Backup credentials to Drive","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":5}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-200,-60],"id":"0a029dfa-acd4-41b3-8c06-6a313aa5a9e6"},{"parameters":{"command":"npx n8n export:credentials --all --decrypted"},"name":"Export Credentials","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[240,-60],"id":"1f8473de-176e-43f3-98b5-1159ef72c835"},{"parameters":{"jsCode":"// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"},"id":"5838159d-b626-4aeb-8924-ee3755db12ea","name":"JSON formatting","type":"n8n-nodes-base.code","position":[460,-60],"typeVersion":2},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"fer"},{"name":"repo.name","value":"atomicflow"},{"name":"repo.path","value":"n8n/credentials/"}]},"options":{}},"id":"870b5129-d836-42fb-b880-ff1f1f3d10a2","name":"Globals","type":"n8n-nodes-base.set","position":[20,-60],"typeVersion":1},{"parameters":{"operation":"createFromText","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1SbhFY3gzeIhnhP_0cgdKOxO8ANSmf8kn","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/1SbhFY3gzeIhnhP_0cgdKOxO8ANSmf8kn"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[900,-60],"id":"01633eec-7a05-4486-8ff4-c2a37e16f4d2","name":"Google Drive","retryOnFail":true,"maxTries":5,"credentials":{"googleDriveOAuth2Api":{"id":"jQ0Wt2Fcgec4HnK6","name":"Google Drive account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.id }} - {{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[680,-60],"id":"5cb68b88-a407-4975-b5c3-12a79bb1a53e","name":"Convert to File"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"JSON formatting","type":"main","index":0}]]},"JSON formatting":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7c830cd8-be0f-424a-8091-7322b6ce096c","triggerCount":0,"tags":[]}