n8n/workflows/9qfl51aU3EkSpjD4.json
{"createdAt":"2025-05-13T12:01:56.314Z","updatedAt":"2025-05-13T12:22:24.510Z","id":"9qfl51aU3EkSpjD4","name":"📤 Backup Credentials & Workflows to Drive","active":true,"nodes":[{"parameters":{},"id":"80b75117-ba30-473a-9fd5-45295d007591","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-600,-160],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"6815a16b-6f55-4f49-9f93-f1efa7853e38","name":"n8n","type":"n8n-nodes-base.n8n","position":[-240,-40],"retryOnFail":true,"typeVersion":1,"alwaysOutputData":true,"credentials":{"n8nApi":{"id":"bvv7auGFkoB3ieA4","name":"n8n account"}}},{"parameters":{"options":{}},"id":"b1b3ffa1-3e5b-4d8f-8f0f-30e27d81aecd","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-40,-40],"typeVersion":3},{"parameters":{"resource":"folder","name":"=Workflow Backups {{ $now.format('cccc t dd-MM-yyyy') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1SbhFY3gzeIhnhP_0cgdKOxO8ANSmf8kn","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/1SbhFY3gzeIhnhP_0cgdKOxO8ANSmf8kn"},"options":{}},"id":"9746ef18-369c-44be-83cd-b8560cb6169c","name":"create new folder","type":"n8n-nodes-base.googleDrive","position":[-420,-40],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"jQ0Wt2Fcgec4HnK6","name":"Google Drive account"}}},{"parameters":{"operation":"toJson","options":{"format":true,"fileName":"={{ $json.name + \".json\" }} "}},"id":"51ed8f12-f74d-4aa1-a04b-889c298fcfe4","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[180,60],"typeVersion":1.1},{"parameters":{"name":"={{ $('Loop Over Items').item.json.name + \".json\" }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('create new folder').item.json.id }}"},"options":{}},"id":"66c14b9c-bdc5-474e-bf31-b619d7adf75e","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[360,60],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"jQ0Wt2Fcgec4HnK6","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":8}]}},"id":"164d0bad-6001-46a5-9d74-39e81cdc1b5e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-600,100],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"538fc29d-2693-4c62-9848-bdcaf8566909","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.id }}","rightValue":"={{ $('create new folder').item.json.id }}"}]},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"43f86d49-c048-4266-a313-e27983813345","name":"Filter","type":"n8n-nodes-base.filter","position":[360,-140],"typeVersion":2.2},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"deletePermanently":true}},"id":"aa325c1f-bceb-47b5-b539-4b41533449cd","name":"delete folder","type":"n8n-nodes-base.googleDrive","position":[680,-120],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"jQ0Wt2Fcgec4HnK6","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"mode":"list","value":"1hnHubRgcstU8OgV8BPwPNivfTZT5g2Wf","cachedResultUrl":"https://drive.google.com/drive/folders/1hnHubRgcstU8OgV8BPwPNivfTZT5g2Wf","cachedResultName":"Workflow Backups"}},"options":{}},"id":"bbaecd1c-85c1-4a3b-859c-e1ea1d7eb854","name":"Get folders","type":"n8n-nodes-base.googleDrive","position":[180,-140],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"jQ0Wt2Fcgec4HnK6","name":"Google Drive account"}}},{"parameters":{"command":"npx n8n export:credentials --all --decrypted"},"name":"Export Credentials","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-220,400],"id":"6e7c967f-cd1a-4be8-b67f-976c7598beff"},{"parameters":{"jsCode":"// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"},"id":"0eb9c8dd-ad82-4066-9739-4dc982af9766","name":"JSON formatting","type":"n8n-nodes-base.code","position":[-40,400],"typeVersion":2},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":5}]}},"name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,400],"id":"9913eb8c-0032-44fc-b4cd-669e27d75210"},{"parameters":{"operation":"createFromText","content":"data","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('create new folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[360,400],"id":"6d359833-8a8f-4c2b-a65c-2c2c711874a0","name":"Google Drive1","retryOnFail":true,"maxTries":5,"credentials":{"googleDriveOAuth2Api":{"id":"jQ0Wt2Fcgec4HnK6","name":"Google Drive account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.id }} - {{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[160,400],"id":"7e97b2a0-692b-4c23-a119-ef61d0c10bed","name":"Convert to File1"},{"parameters":{"resource":"folder","name":"=Credentials Backups {{ $now.format('cccc t dd-MM-yyyy') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1SbhFY3gzeIhnhP_0cgdKOxO8ANSmf8kn","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/1SbhFY3gzeIhnhP_0cgdKOxO8ANSmf8kn"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-420,400],"id":"67f844ca-f84f-446a-bddc-3e8d0bcdd960","name":"create new folder1","credentials":{"googleDriveOAuth2Api":{"id":"jQ0Wt2Fcgec4HnK6","name":"Google Drive account"}}}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[]]},"Get folders":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Get folders","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"create new folder","type":"main","index":0}]]},"create new folder":{"main":[[{"node":"n8n","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"create new folder","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"JSON formatting","type":"main","index":0}]]},"JSON formatting":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"create new folder1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"create new folder1":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[15]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"20bd40eb-6d25-43b4-b58c-fd1cd70d0986","triggerCount":2,"tags":[{"createdAt":"2025-04-30T15:54:53.865Z","updatedAt":"2025-04-30T15:54:53.865Z","id":"jSYfu627D9j9D2qE","name":"atomicflow"}]}