n8n/workflows/My workflow.json
{"createdAt":"2025-05-08T18:40:48.887Z","updatedAt":"2025-05-08T18:40:48.887Z","id":"Vlj6iNEv0Ds6F5mP","name":"My workflow","active":false,"nodes":[{"parameters":{"formTitle":"Form with mutually exclusive branching","formDescription":"This form contains branches, but only one branch will ever be executed.","formFields":{"values":[{"fieldLabel":"Would you recommend this site?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"No"}]},"requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[500,160],"id":"08f3db0b-4b5f-49a3-8fe2-db8931201470","name":"On form submission","webhookId":"d869b846-111d-4f53-96e4-2c4a533d9ed6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Would you recommend this site?'] }}","rightValue":"Yes","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Yes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Would you recommend this site?'] }}","rightValue":"No","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"No"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,160],"id":"999649ff-0f72-47f2-a4b1-c4fc7433a802","name":"Switch"},{"parameters":{"formFields":{"values":[{"fieldLabel":"What can we do to improve?","fieldType":"textarea"}]},"options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[940,360],"id":"6039d873-037c-49f3-aa83-5aaf1b1f2278","name":"If not recommended","webhookId":"3579ba77-7ba2-4a97-8a29-a228aac297d5"},{"parameters":{"operation":"completion","completionTitle":"Thank you for your review!","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[1200,0],"id":"c0d176ca-360f-4241-a557-f232747d1dee","name":"Thanks for the review","webhookId":"bce3f77b-3005-4989-bd61-b9c5ff19e59e"},{"parameters":{"operation":"completion","completionTitle":"Thank you for your feedback","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[1240,320],"id":"85cebf3d-9224-4e44-b833-6032d6c760e5","name":"Thanks for the feedback","webhookId":"8b1a34e2-aa24-4c12-841c-79f6491cb779"},{"parameters":{"content":"## Form with mutually exclusive branching\nThis form contains a branch where only one of the two paths will execute, depending on your selections.","width":380},"type":"n8n-nodes-base.stickyNote","position":[340,-100],"typeVersion":1,"id":"c1526f3e-6cfb-40b6-b762-b51ee905050b","name":"Sticky Note"},{"parameters":{"content":"This Switch node determines which branch will execute.\n\nThe switch uses data from a dropdown field with single selection enforced, so only one path will execute.","color":5},"type":"n8n-nodes-base.stickyNote","position":[940,160],"typeVersion":1,"id":"488be080-50ce-4a05-9723-48b658fa2dc0","name":"Sticky Note1"},{"parameters":{"formFields":{"values":[{"fieldLabel":"Leave your review below","fieldType":"textarea"}]},"options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[940,-40],"id":"463b1b94-7f4a-46a6-aed1-2115af7aa6c1","name":"If recommended","webhookId":"f8298b40-1f61-465b-b228-30a659075f30"}],"connections":{"On form submission":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If recommended","type":"main","index":0}],[{"node":"If not recommended","type":"main","index":0}]]},"If recommended":{"main":[[{"node":"Thanks for the review","type":"main","index":0}]]},"If not recommended":{"main":[[{"node":"Thanks for the feedback","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"5aa962c7-dcc1-4626-91ec-978873433b99","triggerCount":0,"tags":[]}