n8n/workflows/ozxtTiTdItyBS6DD.json
{"createdAt":"2025-05-12T19:06:40.331Z","updatedAt":"2025-05-12T20:13:40.625Z","id":"ozxtTiTdItyBS6DD","name":"📤 Backup n8n Workflows to git repository on Github","active":true,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"52c049c5-bd4b-4be8-93fa-6d21c28c0cac","name":"GitHub","type":"n8n-nodes-base.github","position":[540,120],"typeVersion":1,"alwaysOutputData":true,"webhookId":"7e856775-5c8d-45f6-a8ef-15a482b66ccb","credentials":{"githubApi":{"id":"iGQWomWxVx4FvkiE","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"fer"},{"name":"repo.name","value":"atomicflow"},{"name":"repo.path","value":"n8n/workflows/"}]},"options":{}},"id":"0fadcf9c-eeff-4e3f-a3f1-2c1bb77302e4","name":"Globals","type":"n8n-nodes-base.set","position":[-180,100],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"0c9ed806-0051-458f-b767-53a2f3337b36","name":"n8n","type":"n8n-nodes-base.n8n","position":[60,100],"typeVersion":1,"credentials":{"n8nApi":{"id":"bvv7auGFkoB3ieA4","name":"n8n account"}}},{"parameters":{"options":{}},"id":"f40509d8-566d-43fb-9b2f-f455010c07b3","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[280,100],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"bc70003b-7c00-4ef8-b905-6fd6e2a03dfe","name":"If","type":"n8n-nodes-base.if","position":[740,160],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"57aec00b-c212-4e6a-80e5-3a8b19e6cb6f","name":"If1","type":"n8n-nodes-base.if","position":[1600,460],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"acbc51a7-7054-4a19-a04c-2ebab3d70c31","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('n8n').item.json.id }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup .:. New ] {{ $('Loop Over Items').item.json.name }}.json"},"id":"b267593a-9398-4b24-9b1f-f278460977c6","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[1060,340],"typeVersion":1,"webhookId":"7ce407e1-69fc-4f04-8f05-056dddd82b2b","credentials":{"githubApi":{"id":"iGQWomWxVx4FvkiE","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.id }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup .:. Update] {{ $('Loop Over Items').item.json.name }}.json"},"id":"b537b137-c184-4e57-8871-a4ce1808592c","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1960,660],"typeVersion":1,"webhookId":"8e8cde61-fee7-4bd5-bce1-657670f483a3","credentials":{"githubApi":{"id":"iGQWomWxVx4FvkiE","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"2a32756f-b45e-4436-ad28-73a0fece1b46","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,100],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"7d84eaff-139d-40ed-893b-a51c9d884c6d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2120,680],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"a55b8524-464a-480c-95db-6f3925ff53a3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1740,460],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"aab7198f-b2f8-46ab-885e-bf3ab7bd4049","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[740,360],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"4f54a911-b5b0-4720-aeeb-0166e57fab47","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"0a3e95fa-9e3c-4320-b02e-06cb59ad90bd","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1220,60],"typeVersion":1},{"parameters":{"content":"## Backup workflows to git repository on Github\nhttps://n8n.io/workflows/2532-backup-workflows-to-git-repository-on-github/","height":120,"width":580},"id":"77871dca-bc13-44dd-ab70-b6f869279b16","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-540,-80],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"8730af29-6d25-4a6c-84cc-dcde1f9ca1a8","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-260,240],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"01cda171-f85d-421b-a86d-3de31778a65f","triggerCount":1,"tags":[{"createdAt":"2025-04-30T15:54:53.865Z","updatedAt":"2025-04-30T15:54:53.865Z","id":"jSYfu627D9j9D2qE","name":"atomicflow"}]}