n8n/workflows/⛨ Public API Event Logs.json
{"createdAt":"2025-05-08T18:40:48.890Z","updatedAt":"2025-05-08T18:40:48.890Z","id":"pzDoVQJxx2m0sBXP","name":"⛨ Public API Event Logs","active":false,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-600,60],"id":"ed4f359f-67e6-43e4-b17a-cdd4c6333016"},{"parameters":{"requestMethod":"POST","url":"={{ $json.identity_url }}/connect/token","options":{},"bodyParametersUi":{"parameter":[{"name":"client_id","value":"={{ $json.client_id }}"},{"name":"client_secret","value":"={{ $json.client_secret }}"},{"name":"scope","value":"api.organization"},{"name":"grant_type","value":"client_credentials"}]},"headerParametersUi":{"parameter":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]}},"name":"Get Access Token","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-200,60],"id":"1d2d9b06-3d20-428b-ae79-d702bc63ff34"},{"parameters":{"url":"={{$node[\"Config Events URL\"].json[\"next\"]}}","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"=Bearer  {{ $('Get Access Token').item.json.access_token }}"}]},"queryParametersUi":{"parameter":[{"name":"limit","value":"100"}]}},"name":"HTTP Request - Get Events","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[220,620],"id":"2a06a08e-58eb-4f9e-8ca5-5fb3e8db75be"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"continuationToken","value":"={{$node[\"HTTP Request - Get Events\"].json[\"continuationToken\"]}}"}]},"options":{}},"name":"Set next URL","type":"n8n-nodes-base.set","typeVersion":1,"position":[600,620],"executeOnce":true,"id":"75615dfe-2e94-4c9d-95e6-21c48f1c1469"},{"parameters":{"functionCode":"const enums = $node[\"Load Enums\"].json;\n\n// Build member map properly across ALL paginated responses:\nconst members = $items(\"HTTP Request - Get Members\");\n\nconst userIdToEmail = {};\nconst memberIdToEmail = {};\n\nfor (const page of members) {\n  const pageData = page.json.data || [];\n  for (const member of pageData) {\n    const userId = member.userId;\n    const memberId = member.id;\n    const memberEmail = member.email || (member.user && member.user.email) || \"Unknown member\";\n    \n    if (userId) {\n      userIdToEmail[userId] = memberEmail;\n    }\n    if (memberId) {\n      memberIdToEmail[memberId] = memberEmail;\n    }\n  }\n}\n\nconst groups = $items(\"HTTP Request - Get Groups\");\n\n\nconst groupMap = {};\n\nfor (const page of groups) {\n  const pageData = page.json.data || [];\n  for (const group of pageData) {\n    const groupId = group.id;  \n    groupMap[groupId] = group.name;\n  }\n}\n\nconsole.log('>>>>', groupMap)\n\n\n// Combine Events and enrich with member names\nconst allData = [];\nlet counter = 0;\n\ndo {\n  try {\n    const items = $items(\"HTTP Request - Get Events\", 0, counter).map(item => item.json.data);\n    const mappedItems = items[0].map(item => {\n      return {\n        json: {\n          ...item,\n          type: enums.EventType[item.type] || item.type,\n          device: enums.DeviceType[item.device] || item.device,\n          actingUserId: userIdToEmail[item.actingUserId] || item.actingUserId,\n          memberId: memberIdToEmail[item.memberId] || item.memberId,\n          groupId: groupMap[item.groupId] || item.groupId\n        }\n      };\n    });\n    allData.push(...mappedItems);\n  } catch (error) {\n    return allData;\n  }\n  counter++;\n} while (true);"},"name":"Combine all data","type":"n8n-nodes-base.function","typeVersion":1,"position":[600,900],"id":"23e2de89-da22-4f17-8b24-f379167f8360"},{"parameters":{"content":"## Fetch Events","height":220,"width":760},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,560],"id":"98b22b4b-1ef9-4613-a3ee-03644e356cff","name":"Sticky Note"},{"parameters":{"functionCode":"const config = $items(\"Set Configuration\");\n\nlet next = config[0].json.api_url + '/public/events';\n\nif (items[0].json.continuationToken) {\n  next += '?continuationToken=' + items[0].json.continuationToken;\n}\n\nreturn [{ json: { next: next } }];"},"name":"Config Events URL","type":"n8n-nodes-base.function","typeVersion":1,"position":[40,620],"id":"e8793929-ee98-4831-8b02-d9d9d1178955"},{"parameters":{"functionCode":"const config = $items(\"Set Configuration\");\n\nlet next = config[0].json.api_url + '/public/members';\n\nif (items[0].json.continuationToken) {\n  next += '?continuationToken=' + items[0].json.continuationToken;\n}\n\nreturn [{ json: { next: next } }];"},"name":"Config Members URL","type":"n8n-nodes-base.function","typeVersion":1,"position":[40,340],"id":"eed8801e-9197-4e48-b2fe-5181b378d3a6"},{"parameters":{"url":"={{$node[\"Config Members URL\"].json[\"next\"]}}","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"=Bearer  {{ $('Get Access Token').item.json.access_token }}"}]},"queryParametersUi":{"parameter":[{"name":"limit","value":"100"}]}},"name":"HTTP Request - Get Members","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[220,340],"id":"7af3172d-5854-41dc-b4f5-e18a26cb51af"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"continuationToken","value":"={{$node[\"HTTP Request - Get Members\"].json[\"continuationToken\"]}}"}]},"options":{}},"name":"Set next URL1","type":"n8n-nodes-base.set","typeVersion":1,"position":[600,340],"executeOnce":true,"id":"49374c9a-f43b-4e63-8df4-01742cf85ca2"},{"parameters":{"content":"## Fetch Members","height":220,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,280],"id":"fa021ba0-9fe3-4d5d-b342-6532bb28a349","name":"Sticky Note1"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"HTTP Request - Get Events\"].json[\"continuationToken\"] }}","operation":"isNotEmpty"}]}},"name":"Check if Events pagination?","type":"n8n-nodes-base.if","typeVersion":1,"position":[400,620],"id":"85bad6c7-40c3-4e13-a8e8-4b61a62ad82e"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"continuationToken","value":"={{$node[\"HTTP Request - Get Groups\"].json[\"continuationToken\"]}}"}]},"options":{}},"name":"Set next URL2","type":"n8n-nodes-base.set","typeVersion":1,"position":[600,60],"executeOnce":true,"id":"ffb92886-a3a8-4694-aef7-41a25a1b12ad"},{"parameters":{"functionCode":"const config = $items(\"Set Configuration\");\n\nlet next = config[0].json.api_url + '/public/groups';\n\nif (items[0].json.continuationToken) {\n  next += '?continuationToken=' + items[0].json.continuationToken;\n}\n\nreturn [{ json: { next: next } }];"},"name":"Config Groups URL","type":"n8n-nodes-base.function","typeVersion":1,"position":[40,60],"id":"a534cc1c-a007-4a31-b64a-e1c716cd7672"},{"parameters":{"url":"={{$node[\"Config Groups URL\"].json[\"next\"]}}","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"=Bearer  {{ $('Get Access Token').item.json.access_token }}"}]},"queryParametersUi":{"parameter":[{"name":"limit","value":"100"}]}},"name":"HTTP Request - Get Groups","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[220,60],"id":"d26c47cb-f988-4352-8f9d-fff91269cb1c"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"HTTP Request - Get Groups\"].json[\"continuationToken\"] }}","operation":"isNotEmpty"}]}},"name":"Check if Groups pagination?","type":"n8n-nodes-base.if","typeVersion":1,"position":[400,60],"id":"22c3a1cb-3b20-4084-9703-ad8d812fa24d"},{"parameters":{"content":"## Fetch Groups","height":220,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"57839a0b-c7e3-44a9-8c0f-a0ce7b4c74a4","name":"Sticky Note2"},{"parameters":{"content":"## To do\n- [ ] Start / End date\n- [ ] LiveEvent Loop\n- [ ] Entry parameters \n  - [ ] Self hosted\n- [ ] Run/Automate with Docker\n- [ ] open ticket to n8n since the BW node isn't handling pagination\n- [ ] Write to disk in different formats","height":380,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-600,240],"id":"69c4bf23-9192-4414-aad1-93f625cbd4cd","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"51c8b47a-18de-4cfd-8adc-46403036eed2","name":"client_id","value":"organization.9d3210e3-385c-4c76-ad72-b1f5013a8cc2","type":"string"},{"id":"8d1bb5ab-f135-4164-a74b-d0a2bfdd93b9","name":"client_secret","value":"YDAI5PxNcj9EktCvFpxzqmNhlJ7KiJ","type":"string"},{"id":"7ae5465f-ee2f-4544-a639-53f0e12c23e7","name":"identity_url","value":"https://identity.bitwarden.eu","type":"string"},{"id":"f7896f5a-fef5-4d9c-b633-83fbd01942f9","name":"api_url","value":"https://api.bitwarden.eu","type":"string"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,60],"id":"939e9f5d-eec9-49c4-a8cf-d42cd80fe498","name":"Set Configuration"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"HTTP Request - Get Members\"].json[\"continuationToken\"] }}","operation":"isNotEmpty"}]}},"name":"Check if Members pagination?","type":"n8n-nodes-base.if","typeVersion":1,"position":[400,340],"id":"c1952070-6d49-4bf5-acd8-eefe35f0ba50"},{"parameters":{"jsCode":"return [{\n  json: {\n    DeviceType: {\n      0: \"Android\",\n      1: \"iOS\",\n      2: \"ChromeExtension\",\n      3: \"FirefoxExtension\",\n      4: \"OperaExtension\",\n      5: \"EdgeExtension\",\n      6: \"WindowsDesktop\",\n      7: \"MacOsDesktop\",\n      8: \"LinuxDesktop\",\n      9: \"ChromeBrowser\",\n      10: \"FirefoxBrowser\",\n      11: \"OperaBrowser\",\n      12: \"EdgeBrowser\",\n      13: \"IEBrowser\",\n      14: \"UnknownBrowser\",\n      15: \"AndroidAmazon\",\n      16: \"UWP\",\n      17: \"SafariBrowser\",\n      18: \"VivaldiBrowser\",\n      19: \"VivaldiExtension\",\n      20: \"SafariExtension\",\n      21: \"BraveBrowser\",\n      22: \"BraveExtension\",\n    },\n    EventType: {\n      1000: \"User_LoggedIn\",\n      1001: \"User_ChangedPassword\",\n      1002: \"User_Updated2fa\",\n      1003: \"User_Disabled2fa\",\n      1004: \"User_Recovered2fa\",\n      1005: \"User_FailedLogIn\",\n      1006: \"User_FailedLogIn2fa\",\n      1007: \"User_ClientExportedVault\",\n      1008: \"User_UpdatedTempPassword\",\n      1009: \"User_MigratedKeyToKeyConnector\",\n      1010: \"User_RequestedDeviceApproval\",\n      1011: \"User_TdeOffboardingPasswordSet\",\n      1100: \"Cipher_Created\",\n      1101: \"Cipher_Updated\",\n      1102: \"Cipher_Deleted\",\n      1103: \"Cipher_AttachmentCreated\",\n      1104: \"Cipher_AttachmentDeleted\",\n      1105: \"Cipher_Shared\",\n      1106: \"Cipher_UpdatedCollections\",\n      1107: \"Cipher_ClientViewed\",\n      1108: \"Cipher_ClientToggledPasswordVisible\",\n      1109: \"Cipher_ClientToggledHiddenFieldVisible\",\n      1110: \"Cipher_ClientToggledCardCodeVisible\",\n      1111: \"Cipher_ClientCopiedPassword\",\n      1112: \"Cipher_ClientCopiedHiddenField\",\n      1113: \"Cipher_ClientCopiedCardCode\",\n      1114: \"Cipher_ClientAutofilled\",\n      1115: \"Cipher_SoftDeleted\",\n      1116: \"Cipher_Restored\",\n      1117: \"Cipher_ClientToggledCardNumberVisible\",\n      1118: \"Cipher_ClientToggledTOTPSeedVisible\",\n      1300: \"Collection_Created\",\n      1301: \"Collection_Updated\",\n      1302: \"Collection_Deleted\",\n      1400: \"Group_Created\",\n      1401: \"Group_Updated\",\n      1402: \"Group_Deleted\",\n      1500: \"OrganizationUser_Invited\",\n      1501: \"OrganizationUser_Confirmed\",\n      1502: \"OrganizationUser_Updated\",\n      1503: \"OrganizationUser_Removed\",\n      1504: \"OrganizationUser_UpdatedGroups\",\n      1505: \"OrganizationUser_UnlinkedSso\",\n      1506: \"OrganizationUser_ResetPassword_Enroll\",\n      1507: \"OrganizationUser_ResetPassword_Withdraw\",\n      1508: \"OrganizationUser_AdminResetPassword\",\n      1509: \"OrganizationUser_ResetSsoLink\",\n      1510: \"OrganizationUser_FirstSsoLogin\",\n      1511: \"OrganizationUser_Revoked\",\n      1512: \"OrganizationUser_Restored\",\n      1513: \"OrganizationUser_ApprovedAuthRequest\",\n      1514: \"OrganizationUser_RejectedAuthRequest\",\n      1515: \"OrganizationUser_Deleted\",\n      1516: \"OrganizationUser_Left\",\n      1600: \"Organization_Updated\",\n      1601: \"Organization_PurgedVault\",\n      1602: \"Organization_ClientExportedVault\",\n      1603: \"Organization_VaultAccessed\",\n      1604: \"Organization_EnabledSso\",\n      1605: \"Organization_DisabledSso\",\n      1606: \"Organization_EnabledKeyConnector\",\n      1607: \"Organization_DisabledKeyConnector\",\n      1608: \"Organization_SponsorshipsSynced\",\n      1609: \"Organization_CollectionManagementUpdated\",\n      1700: \"Policy_Updated\",\n      1800: \"ProviderUser_Invited\",\n      1801: \"ProviderUser_Confirmed\",\n      1802: \"ProviderUser_Updated\",\n      1803: \"ProviderUser_Removed\",\n      1900: \"ProviderOrganization_Created\",\n      1901: \"ProviderOrganization_Added\",\n      1902: \"ProviderOrganization_Removed\",\n      1903: \"ProviderOrganization_VaultAccessed\",\n      2000: \"OrganizationDomain_Added\",\n      2001: \"OrganizationDomain_Removed\",\n      2002: \"OrganizationDomain_Verified\",\n      2003: \"OrganizationDomain_NotVerified\",\n      2100: \"Secret_Retrieved\"\n    }\n  }\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,900],"id":"5a872387-2279-4d99-aae5-871a07a55c58","name":"Load Enums"},{"parameters":{"content":"## Combine Data","height":220,"width":760},"type":"n8n-nodes-base.stickyNote","position":[0,840],"typeVersion":1,"id":"dfefdbf5-dc7e-4998-bbef-c674944487b1","name":"Sticky Note4"},{"parameters":{"content":"## Setup Forms\n- [ ] Enter Credentials\n- [ ] Enter Monitor Settings","height":260,"width":500},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-440],"id":"4dd21351-6390-4b13-94b2-c2e9869d02b9","name":"Sticky Note5"},{"parameters":{"formFields":{"values":[{"fieldLabel":"client_id","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[360,-340],"id":"bced00c9-9662-4e56-9635-84cb52c66636","name":"Form","webhookId":"9a42d8fa-f0bc-4fbf-adbb-6ae671774b62"},{"parameters":{"operation":"completion","completionTitle":"sacabo","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[960,-340],"id":"a69e9805-a2cf-45f1-bec8-c81f3ccdb6d8","name":"Form1","webhookId":"a2ca8389-9b51-4ea2-8322-a494df0b5da9"},{"parameters":{"formTitle":"Continue","formDescription":"This is the form","options":{"appendAttribution":true,"useWorkflowTimezone":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[160,-340],"id":"266af632-5f17-41b6-b518-7f2dc0585b37","name":"On form submission","webhookId":"99ff543f-39a2-4311-8209-47f67f61d6c5"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-340],"id":"f93870c5-fa35-4294-940e-5fddd7a0c55b","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[580,-340],"id":"99d15aae-b155-4192-b920-cdb93180ba2a","name":"Respond to Webhook"}],"connections":{"Manual Trigger":{"main":[[{"node":"Set Configuration","type":"main","index":0}]]},"Get Access Token":{"main":[[{"node":"Config Groups URL","type":"main","index":0}]]},"HTTP Request - Get Events":{"main":[[{"node":"Check if Events pagination?","type":"main","index":0}]]},"Set next URL":{"main":[[{"node":"Config Events URL","type":"main","index":0}]]},"Config Events URL":{"main":[[]]},"Config Members URL":{"main":[[{"node":"HTTP Request - Get Members","type":"main","index":0}]]},"HTTP Request - Get Members":{"main":[[{"node":"Check if Members pagination?","type":"main","index":0}]]},"Set next URL1":{"main":[[{"node":"Config Members URL","type":"main","index":0}]]},"Check if Events pagination?":{"main":[[{"node":"Set next URL","type":"main","index":0}],[{"node":"Load Enums","type":"main","index":0}]]},"Set next URL2":{"main":[[{"node":"Config Groups URL","type":"main","index":0}]]},"Config Groups URL":{"main":[[{"node":"HTTP Request - Get Groups","type":"main","index":0}]]},"HTTP Request - Get Groups":{"main":[[{"node":"Check if Groups pagination?","type":"main","index":0}]]},"Check if Groups pagination?":{"main":[[{"node":"Set next URL2","type":"main","index":0}],[{"node":"Config Members URL","type":"main","index":0}]]},"Set Configuration":{"main":[[{"node":"Get Access Token","type":"main","index":0}]]},"Check if Members pagination?":{"main":[[{"node":"Set next URL1","type":"main","index":0}],[{"node":"Config Events URL","type":"main","index":0}]]},"Load Enums":{"main":[[{"node":"Combine all data","type":"main","index":0}]]},"Form":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Form","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Form1","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"3b0b2f89-18b1-445f-99c5-02d7b36f8f33","triggerCount":0,"tags":[]}