n8n/workflows/⬆️ Backup n8n workflows to Github.json
{"createdAt":"2025-05-08T18:40:48.949Z","updatedAt":"2025-05-12T19:06:14.494Z","id":"m8tnzF1JUqxrxYPY","name":"⬆️ Backup n8n workflows to Github","active":true,"nodes":[{"parameters":{},"id":"90631709-cf8a-401e-b03a-e4f5a45d1145","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[500,455],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"f03914d5-b6bd-4529-b431-177417fd2ae3","name":"n8n","type":"n8n-nodes-base.n8n","position":[720,555],"typeVersion":1,"retryOnFail":true,"maxTries":5,"credentials":{"n8nApi":{"id":"bvv7auGFkoB3ieA4","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"6b990936-7a87-49ff-a70f-4aa06fb7542c","name":"Return","type":"n8n-nodes-base.set","position":[2860,680],"typeVersion":3.3},{"parameters":{"dataType":"string","value1":"={{ $json.github_status }}","rules":{"rules":[{"value2":"=new","output":2},{"value2":"=different","output":1},{"value2":"same"}]}},"id":"3aa9c59a-fd7f-4a2c-8049-84c746825457","name":"Check Status","type":"n8n-nodes-base.switch","position":[2040,359],"typeVersion":1},{"parameters":{},"id":"8b5230fb-0457-4a44-a620-67b7fa2158b9","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[2480,180],"typeVersion":1},{"parameters":{},"id":"f6c8412d-8a5c-469c-b401-598e7a8f9f93","name":"File is different","type":"n8n-nodes-base.noOp","position":[2260,380],"typeVersion":1},{"parameters":{},"id":"9a9d73bd-410e-40c8-8af4-3cb641c2e54a","name":"File is new","type":"n8n-nodes-base.noOp","position":[2180,660],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{ $('Loop Over Items').item.json.id }}.json","fileContent":"={{ JSON.stringify($json, null, 2) }}","commitMessage":"=(New File) {{ $('Loop Over Items').item.json.name }}"},"id":"b31df461-c67f-4a39-9c5c-f5019bc23c78","name":"Create new file","type":"n8n-nodes-base.github","position":[2480,580],"typeVersion":1,"webhookId":"21e460f7-307f-48f8-8507-79e5351b7188","credentials":{"githubApi":{"id":"iGQWomWxVx4FvkiE","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $json.path }}","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"=(Edit file) {{ $('Loop Over Items').item.json.name }}"},"id":"cbb1c08c-f395-46b0-8b57-018f2005938e","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2480,380],"typeVersion":1,"webhookId":"fb94750f-7a1f-4f82-88dc-1ded4f2fa4ba","credentials":{"githubApi":{"id":"iGQWomWxVx4FvkiE","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"d15743a7-39b5-4532-9a8e-ba9e390ed0e8","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[920,560],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"11388680-cc9d-4a4f-aa13-9a4f177f5621","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[500,655],"typeVersion":1.2},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.","height":600.88409546716,"width":371.1995072042308,"color":4},"id":"525fd0ad-6b9e-419f-b91d-93e7da8a465d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[20,-40],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{ $('Loop Over Items').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"f6f492db-514b-46cd-aa19-1420d25454ff","name":"Get file data","type":"n8n-nodes-base.github","position":[1380,380],"typeVersion":1,"alwaysOutputData":true,"webhookId":"0859ac16-63f8-43e4-8d1c-142163660676","credentials":{"githubApi":{"id":"iGQWomWxVx4FvkiE","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"fer"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"atomicflow"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"n8n/workflows/"}]},"options":{}},"id":"b47ab002-a7e4-4180-9456-b3277e0888ba","name":"Globals","type":"n8n-nodes-base.set","position":[1160,380],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d7c7638a-2d2e-4c0d-89bd-ff95b62de6c2","leftValue":"={{ $json.error }}","rightValue":"The resource you are requesting could not be found","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1620,400],"id":"f5d440e1-3997-4e4e-8cd1-0304cb361ca3","name":"file not found?"}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get file data","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"file not found?","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Globals","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Return":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"file not found?":{"main":[[{"node":"File is new","type":"main","index":0}],[{"node":"Return","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[20]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"6f66b2bb-d4a3-4f2d-b874-7cf312401156","triggerCount":1,"tags":[]}