n8n/workflows/📊 Landing.json
{"createdAt":"2025-05-08T18:40:48.954Z","updatedAt":"2025-05-08T18:45:37.153Z","id":"4IKxgaJ1dVBduu3I","name":"📊 Landing","active":true,"nodes":[{"parameters":{"filters":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-160,-480],"id":"863f74d9-8739-4842-aba6-8207c1f964c6","name":"get active workflows","credentials":{"n8nApi":{"id":"bvv7auGFkoB3ieA4","name":"n8n account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[280,-480],"id":"0608855e-6193-466f-93f9-c2005025264d","name":"Merge","notesInFlow":true,"onError":"continueRegularOutput","notes":"KPI for workflows and executions"},{"parameters":{"resource":"execution","returnAll":true,"filters":{},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-160,-280],"id":"89070522-4848-4b1f-bc5b-3938eb8d62ba","name":"get executions","credentials":{"n8nApi":{"id":"bvv7auGFkoB3ieA4","name":"n8n account"}}},{"parameters":{"content":"## KPIs\n\n- [ ] Only allow https://atomicflow.net\n- [x] Add cache","height":600,"width":1940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-760,-720],"id":"4a4e36c5-af9e-419c-b270-351c8a2eeaef","name":"Sticky Note"},{"parameters":{"command":"uptime | awk -F'( |,|:)+' '{ \n  if ($7 == \"min\") { print $6 \" minutes\" } \n  else if ($7 == \"sec\") { print $6 \" seconds\" } \n  else if ($7 == \"days\") { print $6 \" days, \" $8 \" hours\" } \n  else { print $6 \" hours, \" $7 \" minutes\" } \n}'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-160,-680],"id":"151c44fb-25ed-4f02-a3de-27de505f20ce","name":"uptime"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"GET, POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type, Authorization"},{"name":"Cache-Control","value":"public, max-age=300"},{"name":"ETag","value":"={{ $json.etag || 'default-hash' }}"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[720,-480],"id":"4d7e649b-8f92-4d5d-9d00-1343f8d9f60b","name":"API Response","alwaysOutputData":true,"notes":"Cache-Control to 5 mins"},{"parameters":{"path":"af/api/landing/kpis","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-380,-480],"id":"d593425a-e959-441b-af17-ffbde6189029","name":"GET","webhookId":"47e11daa-b68b-4b99-ba9d-152d0c8910ee","notesInFlow":true,"notes":"af/api/landing/kpis"},{"parameters":{"httpMethod":"POST","path":"af/api/landing/contact-form","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-380,-940],"id":"da5ebb65-5da4-479e-bbdc-7be31b1eb08d","name":"POST","webhookId":"80caf4ec-f624-442d-9985-f58c40426255","notesInFlow":true,"notes":"af/api/landing/contact-form"},{"parameters":{"content":"## Contact Form\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":220,"width":1940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-760,-980],"id":"1feea1c2-8ee0-48de-b416-f69c2767b749","name":"Sticky Note1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1xgHott11ekDFwCu2GRTqDWRpDCjH1J43S8IcjNHDajE","mode":"list","cachedResultName":"Contact Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xgHott11ekDFwCu2GRTqDWRpDCjH1J43S8IcjNHDajE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Inbox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xgHott11ekDFwCu2GRTqDWRpDCjH1J43S8IcjNHDajE/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"headers","displayName":"headers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"params","displayName":"params","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"webhookUrl","displayName":"webhookUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"executionMode","displayName":"executionMode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[60,-940],"id":"4c39418d-5b57-4e6c-b1ce-ff95b7a86150","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"SsVi0rQ6GoQbhK2q","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4f816380-bba4-40e2-b5e6-0d15335b42a6","name":"body","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-940],"id":"26c95670-566a-4d1b-bf53-bea1402a9b49","name":"Edit Fields1"},{"parameters":{"path":"dummy-website","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-380,-1180],"id":"798652ae-6827-4152-ad98-95d9e61ac1f9","name":"Webhook","webhookId":"270ca0a7-867b-49d5-a59b-7c2d0a5f00aa"},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Welcome to 🤡 The Internet</title>\n  <style>\n    body {\n      background-color: #ff69b4;\n      color: lime;\n      font-family: Comic Sans MS, cursive, sans-serif;\n      text-align: center;\n      padding-top: 20%;\n      animation: flash 0.5s infinite;\n    }\n    @keyframes flash {\n      0%   { background-color: #ff69b4; color: lime; }\n      50%  { background-color: yellow; color: red; }\n      100% { background-color: #ff69b4; color: lime; }\n    }\n    marquee {\n      font-size: 24px;\n      font-weight: bold;\n    }\n  </style>\n</head>\n<body>\n  <h1>🚧 Welcome to my NGINX SERVER 🚧</h1>\n  <marquee behavior=\"alternate\" scrollamount=\"20\">⚠️ UNDER CONSTRUCTION SINCE 1999 ⚠️</marquee>\n  <p>If you're seeing this... it worked? I guess?</p>\n  <img src=\"https://media.tenor.com/1J4MSsEFqTkAAAAC/clown.gif\" alt=\"Clown\" width=\"200\">\n  <p><i>This will self-destruct in... never.</i></p>\n</body>\n</html>","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=UTF-8"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-160,-1180],"id":"f107c018-bcd7-499e-ae34-6d0599252d13","name":"Respond to Webhook"},{"parameters":{"content":"## 🤡 Dummy website\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":200,"width":1940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-760,-1220],"id":"d641a812-8cec-4943-a102-a41182c708bd","name":"Sticky Note2"},{"parameters":{"keys":{"key":[{"currentKey":"stdout","newKey":"uptime"},{"currentKey":"count_nodes","newKey":"workflows"},{"currentKey":"count_tags","newKey":"tags"},{"currentKey":"count_id","newKey":"executions"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[500,-480],"id":"32a5a2c9-00aa-4207-b852-010fff775b82","name":"Rename Keys"},{"parameters":{"assignments":{"assignments":[{"id":"6d3be18d-34cd-41ee-a342-889f63eb5368","name":"stdout","value":"={{ $json.stdout }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,-680],"id":"56332295-79bd-468f-90ec-4fce3ee26e0c","name":"Edit Fields"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"nodes"},{"field":"tags"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[60,-480],"id":"394cac12-5386-42db-a98a-c5ae5f4fcf49","name":"Count","notesInFlow":true,"notes":"Workflows & Tags"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[60,-280],"id":"9b31e98f-4bc8-454c-9476-2c7bf4d394d7","name":"Count Executions"}],"connections":{"get active workflows":{"main":[[{"node":"Count","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"get executions":{"main":[[{"node":"Count Executions","type":"main","index":0}]]},"uptime":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"GET":{"main":[[{"node":"get active workflows","type":"main","index":0},{"node":"get executions","type":"main","index":0},{"node":"uptime","type":"main","index":0}]]},"POST":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"API Response","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Count":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Count Executions":{"main":[[{"node":"Merge","type":"main","index":2}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"738b845e-fabe-480d-af9d-51e2ab740900","triggerCount":3,"tags":[]}